.header {
  height: 37.5vh;
  background-color: #003580;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: relative;
}

.header_notList {
  height: 20.6vh;
  background-color: #003580;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.input-field-container {
  border: 3px solid gold;
  height: 40px;
  width: max-content;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.icon-name {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.icon-style {
  color: white;
  font-size: 20px;
}

.input-field::placeholder {
  font-size: 13px;
}

.stays-icon-style {
  margin-top: -5px;
  border: 1px solid white;
  padding: 6px;
  border-radius: 45px;
}

.input-icon-style {
  color: grey;
}

.signin-btn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-btn {
  background-color: #0071c2;
  color: white;
  border: none;
  cursor: pointer;
  height: 28px;
  font-size: 14px;
}

.header-input-contianer {
  position: absolute;
  top: 42vh;
  left: 1vw;
  width: max-content;
}

.input-field {
  border: none;
  font-weight: 500;
  margin: 5px;
}

.input-field:active,
.input-field:focus {
  outline: 2px solid #0071c2 !important;
}

.input-field-container {
  border: 3px solid gold;
  height: 40px;
  width: max-content;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.datePicker {
  position: absolute;
  bottom: -356px;
  left: 30vw;
  border: 1.5px solid gold;
}

.SelectingPeople {
  position: absolute;
  bottom: -126px;
  left: 69vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.8px solid gold;
}

.optionsItem {
  background-color: white;
  width: 22vw;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.optoonsCountContainer {
  display: flex;
  align-items: center;
  gap: 7px;
}

.btnStyle {
  background-color: white;
  border: 1px solid #0071c2;
  color: #0071c2;
}

.btnStyle:disabled {
  cursor: not-allowed;
}

.input_align_style {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* after modification */

@media (max-width: 575px) {
  /* .header-input-contianer {
    display: none;
  } */
  .header-input-contianer {
    position: absolute;
    top: 43vh;
    left: 13vw;
  }
  .input-field-container {
    border: 3px solid gold;
    height: max-content;
    width: 70vw;
    background-color: white;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    overflow: scroll;
  }
  .input-field {
    border: none;
    margin-bottom: 10px;
    font-weight: 500;
    margin: 11px;
  }
  .SelectingPeople {
    position: absolute;
    bottom: -126px;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
  }
  .optionsItem {
    background-color: white;
    width: 36vw;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .datePicker {
    position: absolute;
    bottom: -356px;
    left:10vw;
    border: 1.5px solid gold;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and(max-width:991px) {
  .header {
    height: 33.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  .header-input-contianer {
    position: absolute;
    top: 29vh;
    left: 11vw;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    height: 26.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  .header-input-contianer {
    position: absolute;
    top: 30vh;
    left: 13vw;
  }

  .input-field-container {
    border: 3px solid gold;
    height: 40px;
    width: max-content;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .input-field {
    border: none;

    /* outline: none; */
    font-weight: 500;
    margin: 11px;
  }
  .SelectingPeople {
    position: absolute;
    bottom: -126px;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
  }
}

@media (min-width: 1201px) {
  .header {
    height: 26.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  .header_notList {
    height: 16.6vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .header-input-contianer {
    position: absolute;
    top: 29.6vh;
    left: 24vw;
  }
  .input-field-container {
    border: 3px solid gold;
    height: 52px;
    width: max-content;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .input-field {
    border: none;
    margin-left: 6px;
    /* outline: none; */
    font-weight: 500;
    margin: 11px;
    margin-left: 5px;
    padding: 4px;
  }
  .optionsItem {
    background-color: white;
    width: 12vw !important;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .SelectingPeople {
    position: absolute;
    bottom: -126px;
    left:33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
  }
  .datePicker {
    position: absolute;
    bottom: -356px;
    left: 20vw;
    border: 1.5px solid gold;
  }
}

@media (min-width: 2000px) {
  .header-input-contianer {
    position: absolute;
    top: 22.5vh;
    left: 26vw;
  }

  .input-field-container {
    border: 3px solid gold;
    height: 40px;
    width: 40vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5 15px;
  }
  .header {
    height: 20.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  .header_notList {
    height: 13.6vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .input-field {
    border: none;
    margin-left: 6px;
    /* outline: none; */
    font-weight: 500;
    margin: 11px;
  }
  .SelectingPeople {
    position: absolute;
    bottom: -126px;
    left: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
  }
  .datePicker {
    position: absolute;
    bottom: -356px;
    left: 25vh;
    border: 1.5px solid gold;
  }
}
